/* Estilos gerais do corpo */
*{
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #000000, #004FFF);
    background-repeat: no-repeat;
    background-size: 100% auto;
    margin: 50;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Seção Superior */
#imgposs1 { 
    position: absolute;
    left: 8%; 
    top: 0%; 
    margin-left: -64px; 
    margin-top: 100px;
}
.container2 {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 20%;
    height: 100px;
    margin-top: 650px;
}
#xjs { 
    position: absolute; 
    left: 33%; 
    top: 6%; 
    margin-left: -64px; 
    margin-top: -65px;
}

.header-text {
    position: relative;
}

.textu {
    position: absolute; 
    top: 310px; 
    left: 62%; 
    transform: translateX(-50%);
    font-size: 100px; 
    font-family: 'Georgia Pro Condensed', serif;
    color: #FFFFFF;
}

.textu34 {
    position: absolute; 
    top: 310px; 
    left: 83%; 
    transform: translateX(-50%);
    font-size: 100px; 
    font-family: 'Georgia Pro Condensed', serif;
    color: #FFFFFF;
}

.textu2 {
    position: absolute; 
    top: 400px; 
    left: 55%; 
    transform: translateX(-50%);
    font-size: 100px; 
    font-family: 'Georgia Pro Condensed', serif;
    color: #FFFFFF;
}

.textu3 {
    position: absolute; 
    top: 400px; 
    left: 78%; 
    transform: translateX(-50%);
    font-size: 100px; 
    font-family: 'Georgia Pro Condensed', serif;
    color: #FFFFFF;
}


.header-images {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.header-images img {
    max-width: 100px;
}

.line {
    position: absolute;
    width: 100%;
    height: 1.5px; 
    background-color: #FFB94F; 
    top: 9%;
}

/* Seções do Mapa Interativo */
.container {
    text-align: center;
    margin: 20px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 900px;
}

.title {
    font-size: 3em;
    margin-bottom: 20px; 
    font-family: 'Amasis Mt Pro', serif;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.text {
    font-size: 1.5em;
    text-align: left;
    flex: 1;
    max-width: 60%;
}

.image {
    flex: 1;
    max-width: 35%;
    text-align: center;
}

.image img {
    width: 100%;
    border-radius: 15px;
}
.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.custom-button {
    background: linear-gradient(145deg, #f87e0c, #e7a808); /* Gradiente amarelo */
    color: #000000; /* Cor do texto do botão */
    border: none;
    border-radius: 8px; /* Cantos arredondados */
    padding: 15px 30px; /* Espaçamento interno */
    font-size: 1em; /* Tamanho da fonte */
    font-family: 'Arial', sans-serif;
    cursor: pointer; /* Muda o cursor para pointer ao passar sobre o botão */
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2), inset 1px 1px 2px rgba(255, 255, 255, 0.6); /* Sombra externa e interna */
    transition: all 0.3s ease; /* Transições suaves */
}

.custom-button:hover {
    background: linear-gradient(145deg, #e7a808, #f87e0c); /* Gradiente ao passar o mouse */
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.3), inset 1px 1px 3px rgba(255, 255, 255, 0.4); /* Aumenta a sombra ao passar o mouse */
}

.custom-button:active {
    background: linear-gradient(145deg, #f87e0c, #e7a808); /* Gradiente ao clicar */
    box-shadow: inset 4px 4px 8px rgba(0, 0, 0, 0.4); /* Efeito de profundidade ao clicar */
}

.nova-secao {
    height: 100vh; /* Altura de tela inteira */
    background-color: blue; /* Fundo azul */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2em;
}

.blue-background {
    background-color: #0000FF; /* Cor de fundo azul */
    color: #FFFFFF; /* Cor do texto */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    text-align: center;
}

.button-container1 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 20px; /* Espaço entre os botões */
}

.custom-button {
    background: linear-gradient(145deg, #f87e0c, #e7a808); /* Gradiente amarelo */
    color: #000000; /* Cor do texto do botão */
    border: none;
    border-radius: 8px; /* Cantos arredondados */
    padding: 15px 30px; /* Espaçamento interno */
    font-size: 1em; /* Tamanho da fonte */
    font-family: 'Arial', sans-serif;
    cursor: pointer; /* Muda o cursor para pointer ao passar sobre o botão */
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2), inset 1px 1px 2px rgba(255, 255, 255, 0.6); /* Sombra externa e interna */
    transition: all 0.3s ease; /* Transições suaves */
    text-decoration: none; /* Remove o sublinhado do link */
    text-align: center; /* Centraliza o texto no botão */
}

.custom-button:hover {
    background: linear-gradient(145deg, #e7a808, #f87e0c); /* Gradiente ao passar o mouse */
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.3), inset 1px 1px 3px rgba(255, 255, 255, 0.4); /* Aumenta a sombra ao passar o mouse */
}

.custom-button:active {
    background: linear-gradient(145deg, #f87e0c, #e7a808); /* Gradiente ao clicar */
    box-shadow: inset 4px 4px 8px rgba(0, 0, 0, 0.4); /* Efeito de profundidade ao clicar */
}

.button-container {
    display: flex;
    justify-content: center; /* Centraliza os botões horizontalmente */
    margin-top: 20px;
    gap: 20px; /* Espaço entre os botões */
    position: absolute;
    top: 500px /* Habilita posicionamento absoluto dentro do contêiner */
}

.custom-button-back {
    position: relative; /* Posiciona o botão de forma absoluta */
    bottom: 20px; /* Distância do fundo do contêiner */
    left: 0px; /* Distância da esquerda do contêiner */
    top: 323px;
}